body:not(.loaded)>*:not(.loading-overlay) {
    visibility: hidden
}

::-moz-selection {
    background-color: red;
    color: #fff
}

::selection {
    background-color: #282d3b;
    color: #fff
}

p {
    margin-bottom: 1.5rem
}

ul,
ol {
    list-style: none;
    margin: 0 0 2.25rem;
    padding: 0
}

b,
strong {
    font-weight: 700
}

em,
i {
    font-style: italic
}

hr {
    border: 0;
    border-top: 1px solid #dfdfdf;
    margin: 5.5rem auto 5.2rem;
    max-width: 1730px
}

sub,
sup {
    font-size: 70%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

img {
    display: block;
    height: auto;
    max-width: 100%
}

@keyframes rotating {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes spin {
    0% {
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -ms-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@-ms-keyframes spin {
    0% {
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -ms-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@keyframes spin {
    0% {
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -ms-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg)
    }
}

@-webkit-keyframes bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.loading-overlay {
    background: #fff;
    bottom: 0;
    left: 0;
    opacity: 1;
    position: fixed;
    right: 0;
    top: 0;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    visibility: visible;
    z-index: 999999
}

.loaded>.loading-overlay {
    opacity: 0;
    visibility: hidden
}

.bounce-loader {
    left: 50%;
    margin: -9px 0 0 -35px;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transition: all .2s;
    transition: all .2s;
    width: 70px;
    z-index: 10000
}

.bounce-loader .bounce1,
.bounce-loader .bounce2,
.bounce-loader .bounce3 {
    -webkit-animation: 1.4s ease-in-out 0s normal both infinite bouncedelay;
    animation: 1.4s ease-in-out 0s normal both infinite bouncedelay;
    background-color: #CCC;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);
    display: inline-block;
    height: 18px;
    width: 18px
}

.bounce-loader .bounce1 {
    -webkit-animation-delay: -.32s;
    animation-delay: -.32s
}

.bounce-loader .bounce2 {
    -webkit-animation-delay: -.16s;
    animation-delay: -.16s
}
.backadminlogin{
    margin-left: 1em;
    margin-top: 1em;
}